@import url(https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

#add_cover_div .add_form input[type=text],#AddArtists input,#AddArtists select {
margin-bottom:8px;
width:100%;
}

#add_cover_div>div:first-child {
padding:8px 12px 4px!important;
}

#artist .sidebar .box_image div:last-child {
padding:0!important;
}

#artist .sidebar .box_image img {
max-width:100%!important;
}

#content .header>h1,#content .header>h2,#content .header>h3,#content .thin>h1,#content .thin>h2,#content .thin>h3 {
margin-bottom:0;
margin-top:16px;
}

#content>.thin,.box,.box2,.main_column,.sidebar,#menu {
overflow:hidden;
}

#covers .stats {
margin:0 8px 8px;
}

#covers .stats .remove,.sidebar {
float:right;
}

#covers img,.add_torrent_container .field_div input,.colhead td[width*='70%'],.colhead_dark td[width*='70%'] {
width:100%;
}

#discog_table>div.box.center {
background-color:#383738;
padding:12px;
text-align:left;
}

#discog_table>div.box.center a {
margin:0 8px;
}

#footer {
color:#949494;
margin:32px auto 16px;
}

#header li,#footer p,#wiki .box_info ul {
margin:0;
}

#header ul,.poll {
list-style:none;
}

#header,#userinfo {
position:relative;
}

#header,div.thin.widethin {
max-width:1280px;
min-width:1024px;
}

#inbox #content .search_form input[type=search],#wiki #content .search_form input[type=search] {
margin-top:8px;
width:100%!important;
}

#logo {
height:39px;
padding:24px 8px 16px;
width:235px;
}

#logo>a {
background:url(https://dl.dropboxusercontent.com/u/32227426/lolololo2.png) center no-repeat;
display:block;
height:39px;
margin-top:2px;
}

#menu li:nth-child(1) {
background-color:#95bc42;
}

#menu li:nth-child(10) {
background-color:#4B611F;
}

#menu li:nth-child(2) {
background-color:#8BB23B;
}

#menu li:nth-child(3) {
background-color:#83A737;
}

#menu li:nth-child(4) {
background-color:#7B9D34;
}

#menu li:nth-child(5) {
background-color:#739330;
}

#menu li:nth-child(6) {
background-color:#6B892D;
}

#menu li:nth-child(7) {
background-color:#637F2A;
}

#menu li:nth-child(8) {
background-color:#5B7526;
}

#menu li:nth-child(9) {
background-color:#536B23;
}

#menu>ul {
display:flex;
overflow:hidden;
width:calc(100%-149px);
}

#menu>ul a {
display:block;
height:100%;
line-height:50px;
text-align:center;
}

#menu>ul a,.nobr {
white-space:nowrap;
}

#menu>ul a:hover {
background-color:#cfe6a1;
color:#1d1c1d;
}

#menu>ul>#nav_staff {
display:inline;
position:absolute;
right:8px;
top:26px;
}

#menu>ul>#nav_staff>a {
line-height:1.6;
padding:0;
}

#menu>ul>#nav_staff>a:hover {
background-color:transparent;
color:#cfe6a1;
}

#messageform input[type=submit] {
margin:8px 4px;
}

#musicbrainz_popup {
color:#1d1c1d;
font-weight:600;
}

#musicbrainz_popup .brackets,#ft_advanced_link a,div strong a,strong.quoteheader,td div strong {
font-weight:400;
}

#musicbrainz_popup a {
color:#1d1c1d;
}

#nav_collages a:before,#nav_forums a:before,#nav_index a:before,#nav_irc a:before,#nav_market a:before,#nav_requests a:before,#nav_series a:before,#nav_top10 a:before,#nav_torrents a:before,#nav_wiki a:before,a.username:before {
content:"?";
font-family:Fontawesome;
left:0;
padding-right:.5em;
position:relative;
top:0;
}

#noty_bottomRight_layout_container {
bottom:24px!important;
right:24px!important;
}

#noty_bottomRight_layout_container .brackets {
margin:0 2px;
}

#noty_bottomRight_layout_container .noty_buttons {
background-color:#2b2a2b!important;
border:none!important;
padding:8px!important;
}

#noty_bottomRight_layout_container .noty_buttons a {
color:#f4f4f4!important;
}

#noty_bottomRight_layout_container .noty_buttons a:hover {
color:#cfe6a1!important;
}

#noty_bottomRight_layout_container .noty_message {
background-color:#f4f4f4!important;
color:#1d1c1d!important;
font-weight:700;
padding:0!important;
}

#noty_bottomRight_layout_container .noty_message .noty_text {
line-height:34px;
padding:0 8px;
}

#noty_bottomRight_layout_container>li {
background:0 0!important;
border:2px solid #f4f4f4!important;
}

#rules #content .thin .header p {
display:block;
margin:0 0 8px;
width:100%;
}

#searchbars .search_form {
background:0 0;
}

#searchbars .search_form input {
border:none;
height:30px;
}

#searchbars .search_form input:focus {
background:#242324;
}

#searchbars>ul {
background-color:#383738;
display:flex;
height:50px;
padding:0 9px;
}

#searchbars>ul input {
background-color:#2b2a2b;
width:100%;
}

#searchbars>ul li {
margin-right:9px;
}

#searchbars>ul li:last-child {
margin-right:0;
}

#userform {
background-color:transparent;
}

#userform #settings_sections h2 a,.rule_short {
color:#f4f4f4;
}

#userinfo_major {
right:41px;
top:-53px;
}

#userinfo_major,#userinfo_stats {
display:flex;
position:absolute;
right:8px;
}

#userinfo_minor {
background-color:#3b4d18;
right:-8px;
top:31px;
}

#userinfo_minor a,#userinfo_username a {
display:none;
line-height:32px;
padding:0 8px;
width:150px;
}

#userinfo_minor,#userinfo_username {
position:absolute;
z-index:900;
}

#userinfo_minor:before {
background:url(https://dl.dropboxusercontent.com/u/32227426/menu.png) no-repeat;
background-position:center;
display:block;
height:51px;
line-height:50px;
width:50px;
}

#userinfo_minor:hover a,#userinfo_username:hover a {
color:#1d1c1d;
display:block;
}

#userinfo_minor:hover,#userinfo_username:hover {
background-color:#f4f4f4;
z-index:800;
}

#userinfo_minor:hover:before {
margin-left:100px;
}

#userinfo_stats {
top:-31px;
}

#userinfo_username {
background-color:#43571c;
right:50px;
}

#userinfo_username #nav_userinfo>a {
display:block;
line-height:50px;
overflow:hidden;
text-align:center;
white-space:nowrap;
width:100px;
}

#userinfo_username:hover {
right:0;
}

#wrapper {
margin:auto;
max-width:1280px;
min-width:1024px;
}

* {
font-family:Roboto;
}

.add_bookmark,#torrents .filter_torrents .ft_submit input {
margin-right:4px;
}

.add_torrent_container form>span:last-child {
display:inline-block;
margin-top:8px;
}

.alertbar {
font-size:16px;
margin-top:8px;
}

.autocomplete-suggestions {
background-color:#f4f4f4;
border:none;
color:#242324;
margin-top:4px;
}

.autocomplete-suggestions .autocomplete-suggestion {
line-height:24px;
padding:0 8px;
}

.autocomplete-suggestions .autocomplete-suggestion strong {
color:#12a1e3;
}

.autocomplete-suggestions .autocomplete-suggestion.autocomplete-selected,#userinfo_minor:hover a:hover,#userinfo_username:hover a:hover {
background-color:#cfe6a1;
}

.big_info {
padding-bottom:0;
padding-top:0;
}

.big_info .group_image {
margin-right:8px;
}

.big_info .group_info {
margin:4px;
}

.body img,.box_request_desc:not(.head) img,.comment:not(.head) img,.news_post:not(.head) img,.profileinfo:not(.head) img,.wiki_article img,form table td.label {
vertical-align:middle;
}

.body,.pad {
padding:12px;
}

.box table:not(.layout),.box2 table:not(.layout) {
border:2px solid #242324;
margin:8px 0;
}

.box,.box2 {
background-color:#2b2a2b;
margin-bottom:8px;
margin-top:8px;
}

.box_addartists input[type=text],.box_addartists select,.box_addartists_similar input[type=text],.box_addartists_similar select,.box_addtag input[type=text],.box_addtag select,.box_search input[type=text],.box_search select,.box_zipdownload input[type=text],.box_zipdownload select {
margin-right:8px;
width:auto;
}

.box_addtag .body strong {
display:block;
font-weight:400;
margin-top:8px;
}

.box_zipdownload #formats {
margin-right:8px;
width:170px!important;
}

.box_zipdownload #list {
margin:0 0 8px;
width:100%;
}

.box_zipdownload input,.box_zipdownload select {
margin-bottom:8px;
margin-right:0;
width:100%!important;
}

.cats_applications {
background-color:#2b99ff;
}

.cats_applications,.cats_audiobooks,.cats_comedy,.cats_comics,.cats_ebooks,.cats_elearningvideos {
border-right:2px solid #1d1c1d;
bottom:0;
left:0;
position:absolute;
top:0;
width:6px;
}

.cats_audiobooks {
background-color:#ffe70f;
}

.cats_col {
border-top:1px solid transparent;
height:100%;
padding:0;
position:relative;
}

.cats_comedy {
background-color:#ff382b;
}

.cats_comics {
background-color:#b52bff;
}

.cats_ebooks {
background-color:#3fee23;
}

.cats_elearningvideos {
background-color:#22fad9;
}

.cats_movies {
background:url(https://dl.dropboxusercontent.com/u/32227426/mov2.png) no-repeat center center;
height:35px;
width:9px;
}

.cats_tv {
background:url(https://dl.dropboxusercontent.com/u/32227426/tv2.png) no-repeat center center;
height:35px;
width:9px;
}

.clear:after {
display:block;
height:0;
visibility:visible;
}

.clear:after,.profileinfo:before,#userinfo_minor:before,.linkbox br {
content:'';
}

.colhead .cats_col,.colhead_dark .cats_col {
height:auto;
padding:0;
}

.colhead td.sign .tooltip,.colhead_dark td.sign .tooltip {
max-height:12px;
max-width:12px;
}

.colhead td.sign,.colhead_dark td.sign,#footer,.alertbar,div.linkbox.thin,div.thin h2 {
text-align:center;
}

.colhead,.colhead_dark {
background-color:#383738;
height:42px;
}

.forum_index h3,.forum_list h3 {
margin-top:24px;
}

.forum_index td[style*='width: 2%'],.forum_list td[style*='width: 2%'] {
width:24px!important;
}

.forum_post .avatar {
padding:0;
width:150px;
}

.forum_post .avatar img {
display:block;
height:auto;
max-height:400px!important;
max-width:150px!important;
min-width:150px;
width:auto;
}

.forum_post .body img,.sidebar img,.profileinfo img {
max-width:100%;
}

.forum_post.forum_unread {
border-top:2px solid #cfe6a1;
}

.group_info>span:first-child,.group_torrent td:first-child>span,.torrent_links_block {
color:#949494;
float:right;
margin-right:4px;
}

.group_torrent .edition_info {
border-top:1px solid transparent;
padding-left:22px;
position:relative;
}

.group_torrent .edition_info a {
display:block;
font-size:16px;
left:0;
line-height:27px;
position:absolute;
text-align:center;
top:0;
width:22px;
}

.group_torrent:not(.edition) td:first-child {
color:transparent;
padding-left:24px;
}

.head {
background-color:#383738;
line-height:42px;
padding:0 12px;
}

.hide_torrents>a,.show_torrents>a {
display:block;
font-size:16px;
font-weight:600;
line-height:32px;
position:relative;
width:24px;
}

.hide_torrents>a:after {
content:"−";
}

.last_read a:before {
content:'➜';
display:inline-block;
}

.last_read,#userinfo_major>li,#userinfo_stats>li,.linkbox .brackets {
margin-left:8px;
}

.lightbox {
background-color:rgba(0,0,0,.32);
bottom:0;
cursor:pointer;
display:flex;
left:0;
margin:auto;
position:fixed;
right:0;
top:0;
z-index:1000;
}

.lightbox img {
display:block;
max-height:92%;
max-width:92%;
}

.linkbox .brackets:after,.linkbox .brackets:before,#covers .cover_seperator,#noty_bottomRight_layout_container .brackets:after,#noty_bottomRight_layout_container .brackets:before,.box_addtag .body br,.big_info .group_info:after,.lightbox.hidden,#discog_table>div.box.center .brackets:after,#discog_table>div.box.center .brackets:before,span.flag_fast,span.flag_internal,span.flag_sticky {
display:none;
}

.linkbox br {
display:block;
line-height:4px;
}

.linkbox,.linkbox .center {
text-align:right;
}

.linkbox>strong {
color:#c2c2c2;
}

.log_section pre {
line-height:1.4;
}

.main_column {
max-width:calc(100%-248px);
}

.poll .graph {
background-color:rgba(197,176,155,.1);
display:block;
height:8px;
margin-bottom:12px;
}

.poll .graph span {
background-color:#b5d96c;
display:block;
float:left;
height:8px;
}

.poll li {
margin-bottom:2px;
}

.profileinfo:before {
clear:both;
display:table;
}

.r04,.r05,.r06,.r07,.r08,.r09 {
color:#e1b661;
}

.read {
background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAACVBMVEX///+UlJSUlJT2VwJEAAAAAnRSTlMAAHaTzTgAAAAtSURBVHhefYuhEQAwCMTetvv9Pl2CIfgpoSBwRORiguFKD4dMydeyqlZtrU8A6JMUKeHoG3AAAAAASUVORK5CYII=) center no-repeat;
}

.read_locked {
background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAD1BMVEX///+UlJSUlJSUlJSUlJQwXinZAAAABHRSTlMAAFZXqn1YHwAAADxJREFUeF6VirERACAIxBxBmYCCERhAOPefyQc8KxtT5fLfHqxgQmyAFAT7Kj2LOZ0iwiXkMeGqyiH1uWz5Fw69ZPQ3OgAAAABJRU5ErkJggg==) center no-repeat;
}

.read_locked_sticky {
background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAIVBMVEX///+UlJSUlJSUlJSUlJSUlJSUlJSUlJSUlJSUlJSUlJQ8L084AAAACnRSTlMAAFZRUlNXVF5FRF9ofwAAAFxJREFUeF49zLEVgCAMBNDQWhmeNlbUdI7gGo7ACI5g5wYGu5vSkPC46r+7vNBI2FgzK3DwjZdowqeNIpyAGFbAG9at49oNjyxiEPvjqLE3OSdHrG0CpJTkaDcjPwJ6HWxMBPutAAAAAElFTkSuQmCC) center no- repeat;
}

.read_sticky {
background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAG1BMVEWUlJT///+UlJSUlJSUlJSUlJSUlJSUlJSUlJTf0GgPAAAACHRSTlMAAFFTUl5URdDB1TQAAABISURBVHhehcahEYAwEADBY0AgE4ekDCRlUAKSEp6oKxvmJwLHqqV2lBlgeOPO4V1ZbMCbsmlkRiWDrcdzzVwxRSaAv6j6Te0es5kZ6IK/EdsAAAAASUVORK5CYII=) center no-repeat;
}

.recent {
table-layout:fixed;
}

.recent tr:not(.colhead):not(.colhead_dark)>td {
padding:0;
position:relative;
}

.recent tr:not(.colhead):not(.colhead_dark)>td a {
height:100%;
left:0;
position:absolute;
top:0;
width:100%;
}

.recent tr:not(.colhead):not(.colhead_dark)>td a img {
height:100%;
position:absolute;
width:100%;
}

.rule_summary {
padding:24px!important;
}

.rule_wrap {
margin-bottom:8px;
}

.show_torrents>a:after {
content:"+";
}

.sidebar .pad ol,.sidebar .pad ul {
margin-bottom:0;
margin-top:0;
padding-bottom:0;
}

.sidebar img {
height:auto;
width:auto;
}

.sidebar ol.nobullet,.sidebar ul.nobullet {
padding-left:0;
}

.sidebar,#userform #settings_sections {
width:240px;
}

.tags a {
color:#949494;
}

.thin>.header .linkbox,#userform #settings_sections input {
margin-top:8px;
}

.thin>.header,.box_addartists form,.box_addartists_similar form,.box_addtag form,.box_search form,.box_zipdownload form {
display:flex;
}

.tooltipster-base {
width:auto!important;
}

.tooltipster-default {
background-color:#f4f4f4;
border:0 solid #b5d96c;
}

.tooltipster-default .tooltipster-content {
color:#1d1c1d;
font-size:12px;
line-height:1.4;
padding:4px 6px;
}

.tooltipster-default .tooltipster-content a {
color:#1d1c1d;
font-weight:600;
}

.tooltipster-default .tooltipster-content,button,input,select,textarea {
font-family:'Open Sans', Helvetica, Arial, Tahoma, "Microsoft Yahei", sans-serif;
}

.torrent_table {
background-color:#242324;
}

.torrent_table .group {
background-color:#383738;
}

.torrent_table .group td:first-child {
padding-left:4px;
}

.torrent_table tr .number_column:not(:last-child) {
padding-right:6px;
}

.torrent_table tr:not(.colhead):not(.colhead_dark) {
border:none;
border-top:2px solid #242324;
}

.torrentdetails .linkbox {
margin-bottom:6px;
}

.unread {
background:url (data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAACVBMVEX////FsJvFsJtRjvg0AAAAAnRSTlMAAHaTzTgAAAAtSURBVHhefYuhEQAwCMTetvv9Pl2CIfgpoSBwRORiguFKD4dMydeyqlZtrU8A6JMUKeHoG3AAAAAASUVORK5CYII=) center no-repeat;
}

.unread_locked {
background:url (data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAD1BMVEX////FsJvFsJvFsJvFsJsZSitiAAAABHRSTlMAAFZXqn1YHwAAADxJREFUeF6VirERACAIxBxBmYCCERhAOPefyQc8KxtT5fLfHqxgQmyAFAT7Kj2LOZ0iwiXkMeGqyiH1uWz5Fw69ZPQ3OgAAAABJRU5ErkJggg==) center no-repeat;
}

.unread_locked_sticky {
background:url (data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAIVBMVEX////FsJvFsJvFsJvFsJvFsJvFsJvFsJvFsJvFsJvFsJtBGALRAAAACnRSTlMAAFZRUlNXVF5FRF9ofwAAAFxJREFUeF49zLEVgCAMBNDQWhmeNlbUdI7gGo7ACI5g5wYGu5vSkPC46r+7vNBI2FgzK3DwjZdowqeNIpyAGFbAG9at49oNjyxiEPvjqLE3OSdHrG0CpJTkaDcjPwJ6HWxMBPutAAAAAElFTkSuQmCC) center no-repeat;
}

.unread_sticky {
background:url (data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAG1BMVEXFsJv////FsJvFsJvFsJvFsJvFsJvFsJvFsJt4MzxgAAAACHRSTlMAAFFTUl5URdDB1TQAAABISURBVHhehcahEYAwEADBY0AgE4ekDCRlUAKSEp6oKxvmJwLHqqV2lBlgeOPO4V1ZbMCbsmlkRiWDrcdzzVwxRSaAv6j6Te0es5kZ6IK/EdsAAAAASUVORK5CYII=) center no-repeat;
}

::selection,::-moz-selection {
background-color:rgba(180,160,139,.6);
color:#fff;
}

@font-face {
font-family:Raleway;
font-style:normal;
font-weight:400;
}

a {
color:#f4f4f4;
text-decoration:none;
}

a.brackets {
color:#B5D96C;
font-size:12px;
font-weight:700;
text-transform:uppercase;
}

a.brackets.tooltip {
font-size:12px;
letter-spacing:1px;
}

a.brackets.tooltip.vote_tag_up,a.brackets.tooltip.vote_tag_down,a.brackets.tooltip.view_tag_user {
letter-spacing:1px;
}

a.tooltip,div.group_info.clear strong a,tr.colhead_dark td {
font-size:14px;
font-weight:400;
}

a:active,a:focus,button:active,button:focus,input:active,input:focus,select:active,select:focus,textarea:active,textarea:focus {
outline:0;
}

a:hover,.tags a:hover,#userform #settings_sections h2 a:hover {
color:#cfe6a1;
}

b,strong {
font-weight:600;
}

blockquote {
background-color:#323132;
border:1px dashed rgba(255,255,255,.25);
margin:12px;
padding:12px;
}

body {
background-color:#1d1c1d;
color:#c2c2c2;
font-family:'Open Sans', Helvetica, Arial, Tahoma, "Microsoft Yahei", sans-serif;
font-size:12px;
line-height:1.6;
margin:0 8px;
}

button,input,select,textarea,.forum_index h4,.forum_list h4,#userform #settings_sections h2 {
font-size:12px;
}

button,input[type=button],input[type=submit] {
background:linear-gradient(#f0f0f0,#b8b8b8);
border:none;
color:#1d1c1d;
cursor:pointer;
font-weight:600;
height:32px;
padding:0 12px;
}

button:active,input[type=button]:active,input[type=submit]:active {
background:linear-gradient(#b8b8b8,#f0f0f0);
}

div.group_info.group_info2.clear span {
padding:10px;
}

div.head {
background-color:#383738;
border-style:none;
border-width:0 0 2px;
font-size:14px;
}

div.head strong {
color:#fff;
font-weight:400;
}

div.submit.ft_submit input {
font-family:Roboto;
font-size:11px;
height:25px;
text-transform:uppercase;
}

div.submit.ft_submit span {
color:#fff;
float:right;
font-size:14px;
}

div.tags a {
background-color:#617a2b;
color:#ddf5ae;
font-size:9px;
letter-spacing:.4px;
padding:1px 3px;
text-transform:uppercase;
}

div.tags a:hover {
background-color:#B3CB82;
color:#000;
}

div.tp-banner {
background-image:url(https://dl.dropboxusercontent.com/u/32227426/noban.png);
background-repeat:no-repeat;
height:35px;
}

div.tp-banner img[src*="mtv_red_gloss"],div.tp-banner img[src*="default"] {
background-image:url(https://dl.dropboxusercontent.com/u/32227426/noban.png);
background-repeat:no-repeat;
height:35px;
padding-left:190px;
width:0;
}

form table td.label {
color:#949494;
font-weight:600;
text-align:right;
width:180px;
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a,.alertbar,.tooltipster-default .tooltipster-content a:hover,#musicbrainz_popup a:hover {
color:#b5d96c;
}

h1,h2 {
font-size:22px;
}

h1,h2,h3,h4,h5,h6 {
color:#f4f4f4;
font-family:Relaway, 'Open Sans', Helvetica, Arial, Tahoma, "Microsoft Yahei", sans-serif;
font-weight:400;
margin:8px 0;
max-width:100%;
}

h3,h4 {
font-size:18px;
}

h4,h5,#nav_collages a,#nav_forums a,#nav_index a,#nav_irc a,#nav_market a,#nav_requests a,#nav_series a,#nav_top10 a,#nav_torrents a,#nav_wiki a,a.username {
font-size:16px;
}

input[type=email],input[type=password],input[type=search],input[type=text],select,textarea {
background:#242324;
border:1px solid rgba(255,255,255,.08);
color:#c2c2c2;
height:32px;
padding:0 8px;
}

input[type=email]:focus,input[type=password]:focus,input[type=search]:focus,input[type=text]:focus,select:focus,textarea:focus {
border:1px solid rgba(255,255,255,.2);
color:#f4f4f4;
}

li {
margin-bottom:4px;
}

li:last-child,.box_zipdownload input[type=submit] {
margin-bottom:0;
}

ol,ul {
margin:12px;
padding-left:16px;
}

ol.nobullet,ul.nobullet {
list-style-type:none;
}

span.brackets,td.body {
font-size:14px;
}

span.size1 {
font-size:.75em;
}

span.size10 {
font-size:3em;
}

span.size2 {
font-size:1em;
}

span.size3 {
font-size:1.25em;
}

span.size4 {
font-size:1.5em;
}

span.size5 {
font-size:1.75em;
}

span.size6 {
font-size:2em;
}

span.size7 {
font-size:2.25em;
}

span.size8 {
font-size:2.5em;
}

span.size9 {
font-size:2.75em;
}

span.time.tooltip {
color:#8f8f8f;
}

span[style*='color: blue'] {
color:#4e4ee7!important;
}

span[style*='color: green'] {
color:#4eb44e!important;
}

span[style*='color: red'] {
color:#e74e4e!important;
}

strong.important_text,.r00,.r01,.r02,.r03,.small_downvote,.vote_album_down,.vote_artist_down,.vote_tag_down {
color:#e74e4e;
}

strong.important_text_alt,.r10,.r20,.r50,.r99,.small_upvote,.vote_album_up,.vote_artist_up,.vote_tag_up {
color:#4eb44e;
}

table {
border-collapse:collapse;
margin:8px 0;
width:100%;
}

table .rowa,table .rowb {
border-top:2px solid #242324;
}

table .rowa:nth-child(odd),table .rowb:nth-child(odd),.group_torrent.edition,.torrent,#dnulist tr:not(.colhead):not(.colhead_dark):nth-child(odd) {
background-color:#323132;
}

table ul.options_list,.min_padding,#header ul,#covers .pad,#covers p,.golden_rules,#wiki .navigation_list {
margin:0;
padding:0;
}

table#torrent_table td.cats_col {
min-width:240px;
}

table,table .rowa:nth-child(even),table .rowb:nth-child(even),form,.group_torrent,#dnulist tr:not(.colhead):not(.colhead_dark):nth-child(even) {
background-color:#2b2a2b;
}

table.box,table.box2 {
overflow:auto;
}

td {
padding:4px 6px;
}

td.big_info {
height:60px;
padding-left:0;
}

td.center.cats_col {
height:55px;
}

td:first-child {
padding-left:12px;
}

td:last-child {
padding-right:12px;
}

textarea {
min-height:200px;
padding-top:6px;
width:100%;
}

tr.colhead td {
border-color:#8BB23B;
border-style:none;
border-width:0 0 2px;
font-size:14px;
}

tr.torrent:nth-child(even) {
background-color:#292929;
}

tr.torrent:nth-child(odd) {
background-color:#303030;
}

ul.collage_images {
margin:0;
width:100%;
}

ul.collage_images li {
display:block;
height:auto;
overflow:hidden;
position:relative;
width:20%;
}

ul.collage_images li a {
display:block;
left:0;
top:0;
}

ul.collage_images li a,ul.collage_images li a img {
height:100%;
position:absolute;
width:100%;
}

ul.collage_images li a>span {
height:auto;
left:0;
margin:6px;
position:absolute;
top:0;
width:auto;
}

ul.collage_images li:before,.recent tr:not(.colhead):not(.colhead_dark)>td:before {
content:'';
float:left;
padding-top:100%;
}

@media screen and -ms-high-contrast active,-ms-high-contrast none{
.forum_post .body img {
max-width:720px;
}
}